body{
    background-color: #232323;
}

.rect{
    width:30%;
    background:purple;
    padding-bottom:30%;
    float: left;
    margin: 1.66%;
}

#container{
    margin: 0 auto;
    max-width: 600px;
}

h1{
    color:white;
}

#lilnav{
    background: white;
    text-align: center;
    height: 30px;
    color:back;
}

.selected{
    background:blue;
}

#drac {
		color: white;
		position: relative;
		color: rgba(255, 255, 255, 0.25);
		cursor: default;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 0.8rem;
		font-weight: 900;
		letter-spacing: 0.075em;
		line-height: 1.5;
		text-align: center;
		text-transform: uppercase;
		margin: 4rem auto 8rem auto;
		width: calc(100% - 4rem);
		max-width: 72rem;
		z-index: 2;
	}
